<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.mapper.HouseMapper">

	<!-- 전체 데이터 조회 -->
	<select id="selectAllHousedeal" resultType="HousedealDto">
		select *
		from commonhouse;
	</select>
	
	<!-- 구 이름으로 조회 -->
	<select id="selectGuHousedeal" parameterType="string" resultType="HousedealDto">
		select *
		from commonhouse
		where gu_NM like CONCAT('%',#{guname},'%') or dong_NM like CONCAT('%',#{guname},'%'); 
	</select>
</mapper>